.hts-config {
  display: flex;
  height: 100%;

  .hts-config__tab {
    flex: 1 0 auto;
    margin-right: 8px;
  }

  .hts-config__sub {
    padding: 15px 20px 20px 20px;
    min-width: 355px;
    width: 355px;
    height: fit-content;
  }
}
