$responsive-toggle-point: 960px;

.layout {
  width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  .layout-header {
    .layout-header__logo {
      width: 55px;
      margin-right: 20px;
      @media (max-width: $responsive-toggle-point) {
        display: none;
      }
    }

    .layout-header__icons {
    }
  }

  .layout-contents {
    display: flex;
    padding-top: 74px;
    height: auto;
    width: 100%;
    .layout-contents__menu {
      min-width: 100px;
    }
    .layout-contents__item-wrapper {
      display: flex;
      width: 100%;
    }
    .layout-contents__item-contents {
      height: 100%;
    }
  }
}

.layout-dialog__api-regist {
  padding: 15px 20px 20px 20px;
  width: 364px;
}
