@import 'assets/scss/Color.scss';

$responsive-toggle-point: 960px;
$item-margin: 8px;

.layout {
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
  height: 100vh;

  .layout-header {
    .layout-header__logo {
      width: 55px;
      margin-right: 20px;
      @media (max-width: $responsive-toggle-point) {
        display: none;
      }
    }

    .layout-header__button {
      font-size: 14px !important;
      margin: 6px;
      transition: 0.5s;

      &:hover {
        color: $primary-font-accent-color;
      }
    }
  }

  .layout-contents {
    display: flex;
    margin-top: 74px;
    width: 100%;
    .layout-contents__menu {
      min-width: 100px;
    }
    .layout-contents__item-wrapper {
      width: 100%;
      margin-left: $item-margin;
    }
    .layout-contents__item-contents {
      height: 100%;
    }
  }
}
