.trading-grid-row__created {
  background-color: rgba(73, 204, 104, 0.4) !important;
}

.trading-grid-row__deleted {
  background-color: rgb(249, 62, 62) !important;
  opacity: 0.4;
}

.trading-grid-row__updated {
  background-color: rgba(97, 175, 254, 0.4) !important;
}
