<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../css/common.css" />
		
		<script src="../lib/jquery/jquery-1.9.1.min.js"></script>
		<script src="../lib/placeholder/jquery.placeholder.min.js"></script>

		<script src="../js/common.js"></script>
	</head>
	<body>
		<div class="login">
			<div class="l-align l-align--x-large l-align--password">
				<div class="l-section">
					<div class="p-reset_image"><img src="../images/password_reset.png" alt="" /></div>
					<div class="p-reset">Password Reset</div>
				</div>
				<div class="l-section">
					<ul class="l-noti_list l-noti_list--large">
						<li class="l-noti">입력한 이메일 주소로 임시 암호를 발송하였습니다.</li>
						<li class="l-noti">이메일로 전달된 링크를 클릭하면 임시 암호가 생성됩니다. </li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>