<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		
		<script src="../../static/lib/jquery/jquery-1.9.1.min.js"></script>
		<script src="../../static/lib/placeholder/jquery.placeholder.min.js"></script>

		<script src="../../static/js/common.js"></script>
	</head>
	<body>
		<div class="login">
			<div class="l-align l-align--x-large l-align--password">
				<div class="l-section">
					<div class="p-reset_image"><img src="../../static/images/password_reset-2.png" alt="" /></div>
					<div class="p-reset">Password Reset</div>
				</div>
				<div class="l-section">
					<ul class="l-noti_list l-noti_list--large">
						<li class="l-noti">아래 박스에 새로운 비밀번호가 발급되었습니다.</li>
						<li class="l-noti">로그인 후 마이페이지에서 비밀번호를 변경할 수 있습니다.</li>
					</ul>
				</div>
				<div class="l-section l-section--large">
					<div class="number_boxs">
						<div class="number_box">123456</div>
					</div>
				</div>
				<div class="l-section l-section--large">	
					<button class="l-button l-button--large">로 그 인</button>
				</div>
			</div>
		</div>
	</body>
</html>