<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		
		<script src="../../static/lib/jquery/jquery-1.9.1.min.js"></script>
		<script src="../../static/lib/placeholder/jquery.placeholder.min.js"></script>

		<script src="../../static/js/common.js"></script>
	</head>
	<body>
		<div class="login">
			<div class="l-align">
				<div class="l-tabs">
					<ul class="l-tab">
						<li class="l-tab_item"><a href="#" class="l-tab_link">로그인</a></li>
						<li class="l-tab_item"><a href="#" class="l-tab_link">회원가입</a></li>
					</ul>
				</div>
				<div class="l-targets">
					<div class="l-target l-target--active">
						<p class="l-noti l-noti--top">로그인 후 CRYPYO BOX GLOBAL 서비스 이용 시 <a href="#" class="l-em">이용약관</a> 및 <a href="#" class="l-em">개인 정보 정책</a>에 동의하는 것으로 간주합니다.</p>
						<div class="l-ors">
							<div class="l-or">or</div>
						</div>
						<div class="l-section">
							<div class="l-forms">
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="text" name="" id="" class="l-input-text" placeholder="e-mail" />
								</div>
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="password" name="" id="" class="l-input-text" placeholder="password" />
								</div>
							</div>
						</div>
						<div class="l-section">
							<ul class="l-noti_list">
								<li class="l-noti">CRYPTO BOX는 <a href="#" class="l-em">모든 브라우저에 최적화</a> 되었습니다.</li>
							</ul>
						</div>
						<div class="l-section">
							<button class="l-button">로그인</button>
						</div>
						<div class="l-section l-section-small">
							<div class="l-forms">
								<div class="l-form">
									<div class="l-checkbox">
										<input type="checkbox" name="l-check-1" id="l-check-1" class="l-check" />
										<label for="l-check-1" class="l-check-label">아이디 저장하기</label>
									</div>
								</div>
							</div>
						</div>
						<div class="l-section">
							<div class="l-links l-links--center">
								<a href="#" class="l-link">비밀번호 찾기</a>
							</div>
						</div>
					</div>
					<div class="l-target">
						<div class="l-section">
							<div class="l-forms">
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="text" name="" id="" class="l-input-text" placeholder="User name" />
								</div>
								<div class="l-form">
									<div class="l-phone">
										<div class="l-phone-form">
											<input type="text" name="" id="" class="l-input-text" placeholder="Phone number"/>
										</div>
										<div class="l-phone-form">
											<input type="text" name="" id="" class="l-input-text" />
										</div>
										<div class="l-phone-form">
											<input type="text" name="" id="" class="l-input-text" />
										</div>
									</div>
								</div>
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="text" name="" id="" class="l-input-text" placeholder="E-mail  (User ID)" />
								</div>
								<div class="l-form">
									 <button class="l-button l-button-2">이메일 인증번호 발송</button>
								</div>
							</div>
						</div>
						<div class="l-section">
							<ul class="l-noti_list">
								<li class="l-noti">이메일로 전달된 인증번호를 입력 바랍니다.</li>
							</ul>
						</div>
						<div class="l-section l-section-small">
							<div class="l-forms">
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="text" name="" id="" class="l-input-text" placeholder="인증번호" />
								</div>
							</div>
						</div>
						<div class="l-section l-section-small">
							<ul class="l-noti_list">
								<li class="l-noti">메일 전송은 20초 정도 소요될 수 있으며, 메일이 누락 될 경우에 <em class="l-em">스팸 메일 함</em>을 확인 하시기 바랍니다.</li>
							</ul>
						</div>
						<div class="l-section">
							<div class="l-forms">
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="password" name="" id="" class="l-input-text" placeholder="Password (영문 숫자 포함 8자 이상)" />
								</div>
								<div class="l-form">
									<label for="" class="l-input_label"></label>
									<input type="password" name="" id="" class="l-input-text" placeholder="Password confirm (영문 숫자 포함 8자 이상)" />
								</div>
							</div>
						</div>
						<div class="l-section">
							<div class="l-forms">
								<div class="l-form">
									<div class="l-checkbox">
										<input type="checkbox" name="l-check-2" id="l-check-2" class="l-check" />
										<label for="l-check-2" class="l-check-label"><a href="#" class="l-em">이용약관</a> 및 <a href="#" class="l-em">개인 정보 정책</a>에 동의합니다.</label>
									</div>
								</div>
							</div>
						</div>
						<div class="l-section l-section-small">
							<button class="l-button">회원가입</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 'l-popup'에 'l-popup--active'클래스 추가시 팝업 활성화-->
		<div class="l-popup l-popup--active">
			<div class="l-popup_align">
				<p class="l-popup_txt">
					아이디 또는 비밀번호가 올바르지 않습니다. <br />
					확인 후 다시 입력 하시기 바랍니다.
				</p>
				<div class="l-popup_closes">
					<button class="l-popup_close">닫  기</button>
				</div>
			</div>
		</div>
	</body>
</html>