<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title></title>
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		
		<script src="../../static/lib/jquery/jquery-1.9.1.min.js"></script>
		<script src="../../static/lib/placeholder/jquery.placeholder.min.js"></script>

		<script src="../../static/js/common.js"></script>
	</head>
	<body>
		<div class="login">
			<div class="l-align l-align--large">
				<div class="l-section">
					<div class="l-pw_image">
						<img src="../../static/images/password.png" alt="" />
					</div>
				</div>
				<div class="l-section l-section--middle">
					<ul class="l-noti_list">
						<li class="l-noti">회원 가입 때 등록한 이메일을 입력하시기 바랍니다.</li>
						<li class="l-noti">이메일로 전달된 링크를 클릭하면 임시 비밀번호가 생성됩니다. </li>
					</ul>
				</div>
				<div class="l-section">
					<div class="l-forms">
						<div class="l-form l-form--error">
							<label for="" class="l-input_label"></label>
							<input type="text" name="" id="" class="l-input-text" placeholder="e-mail" />
						</div>
					</div>
				</div>
				<div class="l-section">
					<ul class="l-noti_list">
						<li class="l-noti l-noti--red">올바른 이메일 주소를 입력하시기 바랍니다.</li>
					</ul>
				</div>
				<div class="l-section">	
					<button class="l-button">SEND</button>
				</div>
			</div>
		</div>
	</body>
</html>