*{
  font-family: "Malgun Gothic","맑은 고딕",sans-serif;
}

p {
  margin-bottom: 0;
}

#root {
  height: 100%;
  color: #B7C8F5;
}

body::-webkit-scrollbar {
  display: none;
}

/* for IE */
html {
  scrollbar-3dLight-Color: red;
  scrollbar-face-color: #212163;
  scrollbar-track-color: #1b1e4e;
  scrollbar-shadow-color: #1b1e4e;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #1b1e4e;
}
::-webkit-scrollbar-thumb
{
	background-color: #212163;	
}

.customBtn span {
  color: #ffffff;
}

.customCheckBox .ant-checkbox {
  border: 2px solid rgb(255, 58, 125);
  border-radius: 20%;
}

.customTable .ant-table-small {
  border: 0px solid #101037;
}

.customTable .ant-table table{
  border-collapse: collapse;
  font-size: 12.5px;
}

.customTable .ant-table-placeholder {
  border: 0px;
}

.customTable .ant-empty-description {
  color: #B7C8F5;
}

.customTable .ant-table-row {
  background-color: #1a1c4b;
  border-bottom: 2px solid #101037;
}

.customTable .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.customTable .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th {
  padding: 3.5px 8px;
}

.customTable .ant-table-header {
  margin-bottom: -20px !important;
}

.customTable .ant-input-number{
  height: 25px;
}

.customTable .ant-input-number-input {
  height: 20px;
  font-size: 13px;
}

.customTable .ant-table-footer {
  padding: 0px;
  background-color: #101037;
  border-top: 0px;
}

.tableInputNumber .ant-input-number-handler-wrap {
  display: none;
}

.tableInputNumber .ant-input-number-input {
  text-align: right;
}

.ant-notification {
  right: 0px;
  left: -200px;
  width: 400px;
  margin: 20px 50%;
}

.customNotierror {
  border: 2px solid #f5222d;
  padding: 5px;
  color: #B7C8F5;
  font-size: 14px;
}

.customNotierror .ant-notification-notice-icon-error {
  color: #f5222d;
}

.customNotierror .ant-notification-notice-close {
  display: none;
}

.customNotisuccess {
  border: 2px solid #52c41a;
  padding: 5px;
  color: #B7C8F5;
  font-size: 14px;
}

.customNotisuccess .ant-notification-notice-icon-error {
  color: #52c41a;
}

.customNotisuccess .ant-notification-notice-close {
  display: none;
}

.profitColor {
  color: #ff3a7d;
}

.lossColor {
  color: #218cde;
}

.ant-table-footer::before {
  background-color: #1b1e4e;
}