*{
  font-family: europa;
}

p {
  margin-bottom: 0;
}

#root {
  height: 100%;
  color: #B7C8F5;
}

body::-webkit-scrollbar {
  display: none;
}

.customBtn span {
  color: #ffffff;
}

.customCheckBox .ant-checkbox {
  border: 2px solid #1E8CDE;
  border-radius: 20%;
}