@import 'assets/scss/Color.scss';

#root {
  background-image: url(assets/images/bg.png);
  background-color: #13253f;
  position: relative;
  overflow: auto;
  width: 100%;
}

em {
  color: $primary-font-accent-color;
  font-style: normal;
}

ul {
  // list-style: circle;
  padding-left: 12px;
}

li {
  margin-top: 10px;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar-track {
  background-color: #162c49;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #162c49;
}

::-webkit-scrollbar-thumb {
  background-color: #173457;
  border: 0;
}
