#root {
  background-image: url(assets/images/bg.png);
  position: relative;
  min-width: 1400px;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

em {
  color: #ff3a7d;
  font-style: normal;
}

ul {
  // list-style: circle;
  padding-left: 12px;
}

li {
  margin-top: 10px;
}

body {
  overflow: auto;
  height: 100vh;
  background-color: #151544;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: #162c49;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #162c49;
}

::-webkit-scrollbar-thumb {
  background-color: #173457;
  border: 0;
}
