.signPageBox {
  padding: 33px 55px;
  margin: auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)!important;
}

.signPageBox .ant-menu-horizontal {
  border-bottom: 0px solid #ffffff;
}

.emphasisText {
  color: rgb(255, 58, 125);
  margin: 0px;
  display: inline-block;
  margin-left: 3px;
}

.errorText {
  color: #f44336;
  margin: 0px;
  margin-left: 5px;
  text-align: left;
  font-size: 12px;
}