@charset "UTF-8";
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
	font-family: '맑은고딕', 'Malgun Gothic', 'monospace';
}

img {
    border: 0;
    vertical-align: top;
}

ul {
    list-style: none;
}
em {
	font-style: normal;
}

input,
select,
button {
    vertical-align: middle;
}

label, button {
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #13253f;
}
:focus {
	outline: 0;
}

.is-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0,0,0,0);
}

.l-popup {
	overflow-x: auto;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	min-width: 1200px;
	height: 100%;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	 -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.l-popup.l-popup--active {
	visibility: visible;
	opacity: 1;
}
.l-popup_align {
	position: relative;
	top: 50%;
	max-width: 400px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px 30px 30px 30px;
	margin: auto;
	background-color: #1f4e79;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.l-popup_txt {
	color: #fff;
	font-size: 14px;
	line-height: 2;
}
.l-popup_txt.l-popup_txt--small {
	font-size: 12px;
}
.l-popup_txt + .l-popup_txt {
	margin-top: 7px;
}
.l-popup_txt a {
	display: inline-block;
	color: #fff;
}
.l-popup_closes {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-size: 0;
}
.l-popup_close {
	display: inline-block;
	padding: 7px 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	background-color: #2e75b6;
	color: #fff;
	font-size: 13px;
}

.login {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	margin: 0 auto;
}
.l-em {
	display: inline-block;
	color: #218cde;
}
.l-section + .l-section {
	margin-top: 20px;
}
.l-section.l-section--large {
	margin-top: 35px;
}
.l-section + .l-section.l-section--middle {
	margin-top: 12px;
}
.l-section + .l-section.l-section--small {
	margin-top: 7px;
}

.l-noti {
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
}
.l-noti.l-noti--top {
    text-align: justify;
}
.l-noti.l-noti--red {
	color: #e95a4e;
}
.l-align {
	position: relative;
	top: 50%;
	max-width: 320px;
	margin: auto;
	padding: 0;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.l-align.l-align--large {
	max-width: 350px;
}
.l-align.l-align--x-large {
	max-width: 374px;
}
.l-align.l-align--password {
	min-height: 418px;
}
.l-tabs {
	position: relative;
	margin-bottom: 30px;
}
.l-tabs:before {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0;
    left: 51px;
    width: 57px;
	height: 3px;
	background-color: #218cde;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}
.l-tabs.l-tabs--2:before {
	left: 201px;
    width: 76px;
}
.l-tab:before,
.l-tab:after {content: " ";display: table;}
.l-tab:after {clear: both;}
.l-tab_item {
	float: left;
	width: 50%;
}
.l-tab_item.l-tab_item--active .l-tab_link {
	color: #218cde;
}
.l-tab_link {
	display: block;
	padding: 10px 0 15px;
	color: #6b6f73;
	font-size: 20px;
	text-align: center;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.l-tab_link:hover {
	color: #fff;
}
.l-target {
	display: none;
}
.l-target.l-target--active {
	display: block;
}

.l-form + .l-form {
	margin-top: 10px;
}
.l-form.l-form--error {
	position: relative;
	padding-right: 50px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dd574e;
	background-color: #173457;
}
.l-form.l-form--error input {
	background: none;
}
.l-form.l-form--error:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url('../images/notice.png') no-repeat;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.l-input_text {
	display: block;
	width: 100%;
	height: 40px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	background-color: #173457;
	color: #fff;
	font-size: 12px;
	text-align: left;
	text-indent: 15px;
}
.l-input_text::placeholder {
	color: #fff;
	font-size: 12px;
}
.l-checkbox {
	position: relative;
}
.l-check {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
}
.l-check:checked + .l-check_label {
	background: url('../images/checked.png') no-repeat;
}
.l-check_label {
	display: block;
	padding: 1px 0 2px 30px;
	background: url('../images/check.png') no-repeat;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	-webkit-transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
	-ms-transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
	transition: all .2s cubic-bezier(0.86, 0, 0.07, 1);
}

.l-ors {
	position: relative;
	margin: 10px 0 15px;
	text-align: center;
}
.l-ors:before {
	content: " ";
	display: block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #163051;
	z-index: 5;
}
.l-or {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	background-color: #13253f;
	color: #fff;
	font-size: 12px;
	z-index: 10;
}
.l-button {
	display: block;
	width: 100%;
	height: 45px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	background-color: #218cde;
	color: #fff;
	font-size: 17px;
	text-align: center;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.l-button:focus,
.l-button:hover {
	background-color: #1982d3;
}
.l-button.l-button-2 {
	height: 40px;
	border: 1px solid #2f5597;
	background-color: #203864;
	font-size: 12px;
}
.l-button.l-button-3 {
	position: relative;
	height: 40px;
	border: 1px solid #dd574e;
	background-color: #203864;
	font-size: 12px;
}
.l-button.l-button-3:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url('../images/notice.png') no-repeat;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.l-button.l-button--large {
	height: 55px;
	font-size: 20px;
}

.l-links.l-links--center {
	text-align: center;
}
.l-link {
	display: inline-block;
	color: #6b6f73;
	font-size: 12px;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.l-link:hover {
	color: #218cde;
}


.l-noti_list.l-noti_list--large > li + li {
	margin-top: 7px;
}
.l-noti_list > li {
	position: relative;
	padding-left: 10px;
}
.l-noti_list > li + li {
	margin-top: 10px;
}
.l-noti_list > li:before {
	content: "*";
	position: absolute;
	top: 1px;
	left: 0;
	color: #fff;
	font-size: 12px;
}
.l-noti_list > li.l-noti.l-noti--red:before {
	color: #d9554c;
}

.l-pw_image img {
	max-width: 100%;
}

.p-reset {
	color: #fff;
	font-size: 50px;
	text-align: center;
	font-weight: 900;
}
.p-reset_image {
	text-align: center;
}
.number_boxs {
	font-size: 0;
	text-align: center;
}
.number_box {
	display: inline-block;
	padding: 9px 15px 10px 20px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 36px;
	text-align: center;
	letter-spacing: 8px;
}

.l-phone {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #173457;
}
.l-phone.l-phone--focus .l-phone_form + .l-phone_form:before {
	display: block;
}
.l-phone:before,
.l-phone:after {content: " ";display: table;}
.l-phone:after {clear: both;}
.l-phone_form {
	float: left;
	position: relative;
	width: calc(33.33333% - 10px);
}
.l-phone_form + .l-phone_form {
	margin-left: 15px;
}
.l-phone_form + .l-phone_form:before {
	content: "-";
	display: none;
	position: absolute;
	top: 0;
	left: -15px;
	width: 15px;
	height: 100%;
    color: #fff;
    font-size: 12px;
	text-align: center;
	line-height: 40px;
}

@media (max-width: 420px) {
	/* .l-align.l-align--large {
		padding: 0 25px;
	}
	.l-align.l-align--x-large {
		padding: 0 20px;
	}
	
	.l-button.l-button--large {
		height: 50px;
		font-size: 17px;
	}
	
	.l-popup_align {
		margin: auto 20px;
	    padding: 15px;
	}
	.l-popup_txt {
		font-size: 13px;
	}
	.l-popup_closes {
		position: relative;
		bottom: inherit;
		right: inherit;
		margin-top: 10px;
		text-align: right;
	}
	
	.p-reset {
		font-size: 30px;
	}
	.p-reset_image img {
		max-width: 80px;
	}
	.number_box {
		padding: 6px 11px 7px 16px;
		font-size: 24px;
		letter-spacing: 6px;
	} */
}

@media (max-width: 340px) {
	/* .l-align {
		top: 0;
		padding: 20px;
	    -webkit-transform: translateY(0%);
		-ms-transform: translateY(0%);
		transform: translateY(0%);
	}
	.l-align.l-align--large {
		top: 50px;
	}
	.l-align.l-align--x-large {
		top: 70px;
	}
	.l-align.l-align--password {
		min-height: auto;
	}
	.l-form + .l-form {
		margin-top: 7px;
	}
	.l-section + .l-section {
		margin-top: 15px;
	}
	.l-section.l-section--large {
		margin-top: 20px;
	}
	.l-tabs {
		margin-bottom: 20px;
	}
	.l-tabs:before {
	    left: 47px;
		width: 46px;
		height: 2px;
	}
	.l-tabs.l-tabs--2:before {
		left: 179px;
		width: 61px;
	}
	.l-tab_link {
		padding: 0 0 10px;
		font-size: 16px;
	}
	.l-input_text {
		height: 35px;
		font-size: 11px;
	}
	.l-input_text::placeholder {
		font-size: 11px;
	}
	.l-noti {
		font-size: 11px;
	}
	.l-check_label {
	    padding: 0 0 0 20px;
		font-size: 11px;
		background-size: 15px auto;
	}
	.l-check:checked + .l-check_label {
		background-size: 15px auto;
	}
	.l-button {
		height: 40px;
		font-size: 14px;
	}
	.l-button.l-button-2 {
		height: 35px;
		font-size: 11px;
	}
	.l-button.l-button-3 {
		height: 35px;
		font-size: 11px;
	}
	.l-button.l-button-3:before {
		width: 20px;
		height: 20px;
		background-size: 20px auto;
	}
	.l-noti_list > li:before {
		top: 0;
	}
	.l-noti_list.l-noti_list--large > li + li {
		margin-top: 5px;
	}
	.l-form.l-form--error {
		padding-right: 41px;
	}
	.l-form.l-form--error:before {
		width: 20px;
		height: 20px;
		background-size: 20px auto;
	} */
}