.backgroundColor {
  background-color: #13253F;
  opacity: 0.8;
}

.headerBar {
  margin: 0 7% 20px 7%;
  height: 60px;
  top: 20px;
  position: relative;
}

.contentsBody {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  height: 100%;
}

.leftHedaer {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: -20px;
}

.leftMenu {
  margin-left: 7%;
  width: 100px;
  height: 100%;
  float: left;
}

.contentsHeader {
  padding: 2.5px;
  width: 100%;
}

.contents {
  display: inline-block;
  margin-left: 20px;
  width: calc(86% - 120px);
  height: 700px;
}

.footerBar {
  margin: 20px 7% 0px 7%;
  height: 80px;
}

.leftTabs .ant-tabs-nav-container {
  border: 2px solid #13253F;
}

.contentsHeader .ant-tabs-nav-container {
  border: 2px solid #13253F;
}

.contentsHeader .ant-tabs-tab {
  padding-top: 0px;
}

.contentsHeader .ant-tabs-bar {
  margin-bottom: 0;
}

.rightSecion {
  margin-right: 7%;
  min-width: 300px;
  height: 100%;
  float: right;
}

.customTable .ant-table-small {
  border: 0px solid white;
}

.tableInputNumber .ant-input-number-handler-wrap {
  display: none;
}

.tableInputNumber .ant-input-number-input {
  text-align: right;
}