.backgroundColor {
  background-color: #101037;
  opacity: 0.8;
}

.headerBar {
  width: 1400px;
  height: 66px;
  margin: 20px auto;
  position: relative;
}

.contentsBody {
  width: 1400px;
  margin: 20px auto;
  height: 1190px;
}

.leftHedaer {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  width: 100px;
}

.leftMenu {
  width: 100px;
  height: 1200px;
  float: left;
  text-align: center;
}

.leftMenu .ant-tabs-nav-wrap{
  font-size: 12px;
}

.contentsHeader {
  padding: 2.5px;
  width: 920px;
}

.contents {
  display: inline-block;
  margin-left: 20px;
  width: calc(86% - 120px);
  height: 700px;
}

.footerBar {
  width: 1400px;
  height: 170px;
  margin: auto;
}

.leftTabs .ant-tabs-nav-container {
  border: 2px solid #101037;
}

.contentsHeader .ant-tabs-nav-container {
  border: 2px solid #101037;
}

.contentsHeader .ant-tabs-tab {
  padding-top: 0px;
}

.contentsHeader .ant-tabs-bar {
  margin-bottom: 0;
}

