.rightSecion {
  width: 360px;
  float: right;
}

.customLink {
  color: #B7C8F5;
}

.customLink:hover {
  color: rgb(255, 58, 125);
}

.apiKeyCheck {
  width: 100%;
  margin-bottom: 5px;
  background-color: #3399CC;
  border: 2px solid #E95A4E;
  color: #FFF;
}

.apiKeyCheck:hover {
  background-color: #1E82AA;
}

.apiKeyCheck:focus {
  background-color: #3399CC;
}

.manageTableInHts {
  height: 270px;
  display: inline-block;
  width: 1290px;
  margin-left: 10px;
  margin-top: 10px;
  border: 0px solid;
}

.firstCol {
  width: 5px;
}

.coinsSearch {
  width: 100%;
  padding: 10px;
}

.coinsSearch .ant-select-selection {
  background-color: #1a1c4b;
}

.htsStdButtons {
  margin-top: 6px;
  text-align: right;
  padding: 10px 30px 0px 30px;
}

.htsStdBtn {
  background-color: #1a1c4b !important;
  color: #B7C8F5;
  margin: 5px;
  font-size: 11px;
  height: 28px;
}

.marketSelect {
  width: 120px;
  font-size: 11px;
}

.marketSelect .ant-select-arrow {
  color: #B7C8F5;
}

.ant-select-dropdown-menu-item {
  font-size: 11px;
}

.ant-select-dropdown-menu-item:hover {
  background-color: #1A1C4B !important;
}

.showAsset {
  display: inline-block;
  width: 275px;
  height: 41px;
  text-align: right;
  padding: 10px 20px;
  font-size: 13px;
}