.customMenuIcon {
  width: 40px;
  height: 40px;
}

.leftTabs .ant-tabs-tab:hover {
  filter: invert(77%) sepia(26%) saturate(391%) hue-rotate(188deg) brightness(99%) contrast(94%);
  color: #B7C8F5;
}

.ant-tabs-tab-active .customMenuIcon {
  filter: invert(50%) sepia(59%) saturate(6432%) hue-rotate(320deg) brightness(106%) contrast(108%);
}
