.hts-config__tab {
  flex: 1 1 auto;
  height: 100%;
}

.hts-config__sub {
  flex: 1 1 auto;
  padding: 15px 20px 20px 20px;
  max-width: 364px;
  margin-left: 8px;
  width: 355px;
  height: fit-content;

  @media (max-width: 960px) {
    display: none;
  }
}
