.trading-grid-row__created {
  background-color: rgba(73, 204, 144, 0.65) !important;
}

.trading-grid-row__deleted {
  background-color: rgba(249, 62, 62, 0.65) !important;
}

.trading-grid-row__updated {
  background-color: rgba(97, 175, 254, 0.65) !important;
}
